* {
    font-family: Source Sans 3;
    color:#7a7a7a;
}

h1{
    font-size: 70px;
    color:#606060 ;
   
    opacity: 37%;
}

.topnav {
    background-color:c0c0c0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color:7a7a7a;
    text-align: right;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#606060;
    color: whitesmoke;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  h2{
    font-size: 40px;
    opacity: 70%;
  }

  .tagline {
	width: 480px;
	height: 100px;
	color: #7a7a7a;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 36px;
	line-height: 1.28;
	letter-spacing: -0.5px;
	text-align: left;
}
  
  .paragraph1 {
    width: 480px;
    height: 120px;
    color: #7a7a7a;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.28;
    letter-spacing: -0.5px;
    text-align: left;
}

.firstpic{
    border-radius: 10px;

}