{% extends "layout.html" %}
{% block main_content %}
    <title>About Voyago</title>
    <style>
      .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
      }
    </style>
  <
    <h1>About Voyago</h1>
    <p>Welcome to Voyago, your go-to source for trusted travel recommendations. Our website is designed to provide you with a comprehensive list of travel options, tailored to your preferences and budget.</p>

 <!-- Why us? -->
<br>
<div class="container">
  <h2 class="text-center my-5">Why consider our recommendations?</h2>
  <div section="why">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="text-center">
          <h5 class="font-weight-bold mb-4">Performance</h5>
          <p class="mb-0">One of our core values is providing high quality recommendations from thorough research so you don't have to!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <h5 class="font-weight-bold mb-4">Assurance</h5>
          <p class="mb-0">We aim to give positive assurance to travelers so they can make educated decisions prior to booking their holidays</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <h5 class="font-weight-bold mb-4">No payments required<i class="fas fa-dollar-sign"></i></h5>
          <p class="mb-0">No free 30 day trials or requests for bank details. Voyago is completely free of charge!</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="container">
      <p>We are committed to helping you plan the perfect trip, whether you're traveling solo, with your family, or with a group of friends. Our user-friendly interface makes it easy to search for recommendations based on your preferences, and our customer service team is always available to answer any questions you may have.</p>

      <p>Thank you for choosing Voyago for your travel needs. We look forward to helping you plan your next adventure!</p>
    </div>



{% endblock %}