{% extends "layout.html" %}
{% block main_content %}
    <title>About Voyago</title>
    <style>
      .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
      }
    </style>
  <
    <h1>About Voyago</h1>
    <p>Welcome to Voyago, your go-to source for trusted travel recommendations. Our website is designed to provide you with a comprehensive list of travel options, tailored to your preferences and budget.</p>

    <div class="container">
      <h2>Why consider our recommendations?</h2>
      <div section="why">
        <div class="row justify-content-center">
          <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
            <h3>Performance</h3>
            <textarea class="form-control" rows="5" style="resize: none; overflow: auto; text-align:center;">One of our core values is providing high-quality recommendations from thorough research so you don't have to! Our team of experts is constantly updating our database with the latest information and feedback from travelers, ensuring that you receive accurate and reliable recommendations.</textarea>
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
            <h3>Assurance</h3>
            <textarea class="form-control" rows="5" style="resize: none; overflow: auto; text-align:center;">We understand that planning a trip can be stressful, which is why we aim to give positive assurance to travelers so they can make educated decisions prior to booking their holidays. Our recommendations are based on a combination of customer feedback and extensive research, so you can trust that you're making an informed decision when you book through Voyago.</textarea>
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
            <h3>No payments required<i class="fas fa-dollar-sign"></i></h3>
            <textarea class="form-control" rows="5" style="resize: none; overflow: auto; text-align:center;">At Voyago, we believe that everyone should have access to reliable travel recommendations without having to pay for it. That's why our website is completely free of charge! You won't find any free trials or requests for bank details on our site.</textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <p>We are committed to helping you plan the perfect trip, whether you're traveling solo, with your family, or with a group of friends. Our user-friendly interface makes it easy to search for recommendations based on your preferences, and our customer service team is always available to answer any questions you may have.</p>

      <p>Thank you for choosing Voyago for your travel needs. We look forward to helping you plan your next adventure!</p>
    </div>



{% endblock %}