{% extends "layout.html" %}

{% block main_content %}

<div class="container">
  <div class="row">
    <div class="col-lg-5"> <!-- Updated from col-lg-6 -->
      <h2 class="mb-4 text">Beach</h2>
      <p class="lead mb-4 text"> Seaside Serenity: Indulge in sun-kissed beaches, tranquil shorelines, and the soothing embrace of the sea as you unwind and rejuvenate your senses.</p>
      <a href="{{ url_for('home') }}" class="btn btn-primary rounded-pill px-4">Explore</a>
    </div>
    <div class="col-lg-7 d-flex align-items-center justify-content-center"> <!-- Updated from col-lg-6 -->
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 mb-4">
      <div class="card_beach card1">
        <div class="card-overlay">
          <p class="card-text">Sicily</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card_beach card2">
            <div class="card-overlay">
              <h5 class="card-text">Maldives</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card_beach card3">
            <div class="card-overlay">
              <h5 class="card-text">Seychelles</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card_beach card4">
             <div class="card-overlay">
              <h5 class="card-text">Bora Bora</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card_beach card5">
             <div class="card-overlay">
              <h5 class="card-text">Rhodes</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card_beach card6">
             <div class="card-overlay">
              <h5 class="card-text">Mauritius</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

    <style>
  .card_beach {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .card_beach img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  .card_beach {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url("/static/images/sicily.jpg");
    background-position: center;
    background-size: cover;
    transition: transform: 0.5s;
}
.card1 {
    background-image: href = url("/static/images/maldives.jpg");

}
.card2 {
    background-image: url("/static/images/maldives.jpg");
}
.card3 {
    background-image: url("/static/images/seychelles2.jpg");
    <a url("{{ url_for('home') }}")</a>;
}
.card4 {
    background-image: url("/static/images/borabora3.jpeg");
}

.card5 {
    background-image: url("/static/images/rhodes.jpg");
}

.card6 {
    background-image: url("/static/images/mauritius.jpg");
}

.card_beach:hover {
  transform: translateY(-10px);
}

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.0s;
}

.card_beach:hover .card-overlay {
  opacity: 1;
}

.card-text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

</style>

{% endblock %}



