<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
         <li><a href="/favourites">Favourites</a></li>
      </ul>
    </nav>
  </header>
{% block main_content %}{% endblock %}
<hr>
<footer>
  <p>&copy; Sky 2023</p>
</footer>
</body>
</html>