{% extends "layout.html" %}

{% block main_content %}

<div class = "container">
  <div class="banner">
    <img src="{{url_for('static', filename='images/ocean_boat.jpg')}}"/>
      <div class="banner-text_login">
      <h4></h4>
  </div>
</div>
<br>

<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form method="POST">

          <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Email") }}
          </div>

          <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}
          </div>
          <p class="error-message">{{error}}</p>

          <button type="submit" class="btn btn-primary">Sign In</button>

          <a href="register" class="btn btn-primary">Register</a>

        </form>
      </div>
    </div>
    <br>
      <div class="d-flex justify-content-center">
    <p>or sign in with</p>
        <i class="fab fa-google fa-1x btn-google"></i>
      </a>
      <a href="#">
        <i class="fab fa-apple fa-1x btn-apple"></i>
      </a>
    </div>
  </div>
</div>
</div>

<style>
.card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
}

.error-message{
    font-style: bold;
    color: red;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.btn-google, .btn-apple {
  margin: 20px; /* adjust as needed */
}

.fa-google, .fa-apple {
  line-height: 20px; /* adjust as needed */
}

.btn-link {
  color: #007bff;
}

.banner-text_login {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  font-size: 2em;
  background-color: transparent;
}

.banner-text_login h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  background-color: transparent;
  color: #f0f8ff;
}

.banner-text_login h5 {
  font-size: 1.0em;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  text-align: left;
}
</style>

{% endblock %}
