{% extends "layout.html" %}
{% block main_content %}
    <p>Welcome to our Add Person Page</p>
    <p>This page contains a html form</p>
        <div class="form">
            <form method="POST">

                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
{% endblock %}