<!DOCTYPE html>
<html>
<head>
	<title>Privacy Policy</title>
  <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>
</head>
<body>
	<h1>Privacy Policy</h1>
	
	<h2>Information We Collect</h2>
	<p>We may collect the following types of personal information:</p>
	<ul>
		<li>Name</li>
		<li>Email address</li>
		<li>Postal address</li>
		<li>Phone number</li>
		<li>IP address</li>
		<li>Browser information</li>
		<li>Information about your use of our website</li>
	</ul>
	<p>We collect this information in order to provide you with our services and to improve your experience on our website.</p>

	<h2>How We Use Your Information</h2>
	<p>We use your personal information in the following ways:</p>
	<ul>
		<li>To provide our services to you</li>
		<li>To improve our website and services</li>
		<li>To personalize your experience on our website</li>
		<li>To communicate with you about our services</li>
		<li>To comply with legal obligations</li>
	</ul>

	<h2>How We Protect Your Information</h2>
	<p>We take the security of your personal information seriously and have implemented appropriate technical and organizational measures to protect your information from unauthorized access, disclosure, or misuse.</p>

	<h2>Your Rights</h2>
	<p>You have the right to:</p>
	<ul>
		<li>Access and receive a copy of your personal information</li>
		<li>Rectify any inaccurate or incomplete personal information</li>
		<li>Request the erasure of your personal information</li>
		<li>Object to the processing of your personal information</li>
		<li>Request the restriction of processing of your personal information</li>
	</ul>
	<p>To exercise these rights, please contact us using the information provided below.</p>

	<h2>GDPR</h2>
	<p>If you are located in the European Economic Area (EEA), you have additional rights under the General Data Protection Regulation (GDPR), including the right to lodge a complaint with a supervisory authority if you believe that we have violated any of your rights under GDPR.</p>

	<h2>Contact Us</h2>
	<p>If you have any questions or concerns about our privacy policy, please contact us at:</p>
	<p>Voyago@gmail.com</p>
</body>
</html>
