{% extends "layout.html" %}
{% block main_content %}
<title>Travel Wishlist</title>
<div class = "container">
<h2>Profile</h2>
    <h3>Welcome back to your travel wishlist!</h3>
    <div class = "paragraph1">
<p> Let's start planning your next adventure. Browse our destinations and find the perfect getaway for you. Happy travels! <i class="fas fa-heart" style="color: #da1b8a;"
                                                                                                                                                                   id="animated-heart"></i></p>
</div>
</div>

<div class="container">
<h2>Saved Destinations</h2>
<div class = "paragraph1">
    <p>From tropical beaches to historic cities, add any destination you're interested in to this list and start planning your next unforgettable trip.</p>
</div>

<div class="row2">
<div class="column2">
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img  style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/grim.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Grimentz, Switzerland</p>
                          <span class="heart-icon">&#x2665;</span>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/bora bora 2.jpeg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Bora Bora</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/capetown.jpg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Capetown, South Africa</p>
                        </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/riod.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Rio de Janeiro, Brasil</p>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/sanfranc.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">San Francisco, USA</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/seoul.jpeg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Seoul, South Korea</p>

                        </div>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/marrakech.jpg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Marrakech, Morroco</p>
                        </div>
                    </div>
                    </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
       </div>

<div class="container">
<h2>Saved Accommodation</h2>
<div class = "paragraph1">
    <p>  <p>Never forget a great hotel again! Keep a list of your favorite accommodations so you can easily book the best one for your next vacation.</p></p>
</div>

<div class="row2">
<div class="column2">
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img  style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/vanc_hotel.jpeg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Fairmont Pacific Rim, Vancouver</p>
                          <span class="heart-icon">&#x2665;</span>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/burj.jpeg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Burj Al Arab, Dubai</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/ritz_paris.jpeg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Ritz Paris, Paris</p>
                        </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/plaza_nyc.jpeg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">The Plaza Hotel, New Yor</p>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/savoy.jpeg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">The Savoy,London</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/Aman.jpeg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Aman Tokyo, Tokyo</p>

                        </div>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/belmond.jpeg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Hotel Belmond Caruso, Ravello </p>
                        </div>
                    </div>
                    </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
       </div>

<div class="container">
<h2>Saved Activities</h2>
<div class = "paragraph1">
    <p>Make the most of your trip by saving all the activities you want to do! Whether it's hiking, sightseeing, or trying new foods, keep them all in one place.</p>
</div>
</div>
<div class="row2">
<div class="column2">
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img  style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/canyon.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Grand Canyon, Arizona</p>
                          <span class="heart-icon">&#x2665;</span>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/barrier.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Great Barrier Reef, Queensland</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/jordan.jpg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">City of Petra,Jordan</p>
                        </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/alaska2.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Northern Lights, Alaska</p>
                    </div>
                    <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/louvre.jpg')}}" class="d-block w-100" alt="..."/>
                        <p class = "country_subheading">Louvre, France</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/neworleans.jpg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">French Quarter, New Orleans</p>

                        </div>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img style="width: auto; height: 300px; border-radius: 20px" src="{{url_for('static', filename='images/marrakech.jpg')}}" class="d-block w-100" alt="..."/>
                            <p class = "country_subheading">Marrakech, Morroco</p>
                        </div>
                    </div>
                    </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
       </div>

<style>
  .heart-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: pink;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    animation: float 0.5s infinite ease-in-out alternate;
  }

  @keyframes float {
    from { transform: translateY(0px); }
    to { transform: translateY(-10px); }
  }

  h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .paragraph1 {
        margin-bottom: 30px;
    }

    .carousel {
        margin-bottom: 60px;
    }

    .country_subheading {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .heart-icon {
        font-size: 24px;
        color: #da1b8a;
        float: right;
    }
</style>



{% endblock %}