	{% extends "layout.html" %}
{% block main_content %}
	<title>Terms and Conditions</title>
   <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>

	<h2>Terms and Conditions</h2>
	<p>Please read these Terms and Conditions carefully before using our travel recommendations site.</p>
	
	<h2>Disclaimer</h2>
	<p>Our site is a travel recommendations platform designed to provide you with information on various travel destinations, accommodations, and activities. While we strive to provide accurate and up-to-date information, we cannot guarantee the completeness or accuracy of the information provided.</p>

	<h2>Limitation of Liability</h2>
	<p>We are not liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of our site or any information provided on our site.</p>

	<h2>Intellectual Property</h2>
    <p>The content on our site, including but not limited to text, graphics, logos, and images, are the property of our site and are protected by intellectual property laws, including the Intellectual Property Act of the United Kingdom. You may not reproduce, distribute, or modify any content on our site without our prior written consent.</p>
<p>The Intellectual Property Act of the United Kingdom is a piece of legislation that aims to modernize and strengthen intellectual property laws in the UK. It provides additional protections for owners of intellectual property, including patents, trademarks, and copyrights. It also introduces new criminal penalties for certain intellectual property offenses, such as online copyright infringement.</p> 
<p>As a user of our site, you agree to abide by all applicable intellectual property laws, including the Intellectual Property Act of the United Kingdom, and to not engage in any activities that would infringe upon the intellectual property rights of our site or any third-party owners.</p>
	

	<h2>Links to Third-Party Sites</h2>
	<p>Our site may contain links to third-party sites that are not owned or controlled by us. We are not responsible for the content, privacy policies, or practices of any third-party sites.</p>

	<h2>Changes to These Terms and Conditions</h2>
	<p>We reserve the right to modify or update these Terms and Conditions at any time without prior notice. Your continued use of our site after any such modifications or updates constitutes your acceptance of the new Terms and Conditions.</p>

	<h2>Contact Us</h2>
	<p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at Voyago@gmail.com.</p>



{% endblock %}