{% extends "layout.html" %}

{% block body %}
<nav>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url_for('render_about') }}">About GiT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('render_techskills') }}">Tech & Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('render_sky') }}">Sky</a>
    </li>
  </ul>
</nav>

<main>

  <h2>Sky GiT applications</h2>

  <div class="content_container">
    <p>Our applications will open later this year for the 2024 intake, please register your interest below so we can keep you posted on any news relating to Sky Get Into and give you a shout when application open!</p>
  </div>
  
  <div class="content_container">
    <form action="{{ url_for('render_applicationform') }}" method='post'>
      <div class="mb-3">
        <label for="firstname"  class="form-label">First name</label>
        <input class="form-control" id="firstname" name="firstname" type="text">
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Last name</label>
        <input class="form-control" id="lastname" name="lastname" type="text">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Your email won't be used for commercial communications and won't be shared with anyone else.</div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I want to receive Sky email about Get Into Tech updates</label>
      </div>
      <button type="submit" class="btn btn-primary submit_button">Submit</button>
    </form>
  </div>

</main>
{% endblock %}