<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>
</head>
<body>
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Question 5. What souvenir are you most likely to bring home?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <label class="options">A location branded hoodie
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">A key ring
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">An insulated mug
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">An odd shaped rock
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="d-flex align-items-center pt-3">
        <div id="answer">
            <a href=''>
                <button>Click to find out your ideal vacation spot</button></a>
        </div>
    </div>
</body>
</html>