<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>
</head>
<body>
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Question 4. What is your preferred mode of transport on holiday?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <label class="options">A rental car
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">Transport!? I'll walk everywhere
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">Train
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">The occasional tax ride
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="d-flex align-items-center pt-3">
        <div id="next">
            <a href='countryquiz4'>
                <button>Next Question</button></a>
        </div>
    </div>
</body>
</html>