<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>
<!--    <link rel ="stylesheet" href="styles.css">-->
</head>
<body>
    <div class="container">
        <h1>Answer the below questions to find your dream vacation destination
        </h1>
    </div>

    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Question 1 Who is accompanying you on the trip?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <label class="options">I'm flying solo
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">Just the two of us
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">The whole family
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">I'm bringing my friends along
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div id="next">
            <a href='countryquiz'>
                <button>Next Question</button></a>
        </div>
</body>
</html>